{% extends 'onlineshop/base.html' %} {% load static %} {% block title %}
Collections | Online Shopping {% endblock title %} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/collections.css' %}"
/>

<section class="sec_1">
  <div class="container">
    <h1 class="fw-light">Bestsellers</h1>
    <p class="lead">
      Our most popular products based on sales. Updated hourly.
    </p>
    <p>
      <a href="{% url 'login' %}" class="already_user"
        ><button>Already User</button></a
      >
      <a href="{% url 'register' %}" class="register"
        ><button>Register</button></a
      >
    </p>
  </div>
</section>
<section class="sec_2">
  <div class="con_2">
    <h1 class="cat">Categories</h1>
    <hr />
    {% include 'onlineshop/message.html' %}
  </div>

  <div class="product-grid">
    {% for item in categories %}
    <div class="product-card">
      <div class="card-image">
        <img src="{{ item.image.url }}" alt="Categories" />
      </div>
      <a href="{% url 'collections' item.name %}">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.description }}</p>
          <!-- <a href="" class="view-details">View Details</a> -->
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock content %}
