<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<style>
  .footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    min-height: 200px;
    position: relative;
  }

  .footer .social-networks {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 250px;
  }

  .footer .social-text {
    margin-right: 1rem;
    display: none;
    font-size: 1.2rem;
  }

  .footer .social-icons a {
    margin-right: 1rem;
    color: inherit;
    font-size: 1.5rem;
    text-decoration: none;
  }

  .footer .links {
    margin-top: 5rem;
  }

  .footer .container {
    max-width: 1140px;
    margin: 0 auto;
    text-align: left;
  }

  .footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer .column {
    flex: 1;
    min-width: 200px;
    margin-bottom: 3rem;
    padding: 0 1rem;
  }

  .footer .title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    font-size: 1rem;
  }

  .footer .text-reset {
    color: inherit;
    text-decoration: none;
  }

  .footer p {
    margin-bottom: 1.2rem;
  }

  .footer .copyright {
    width: 100%;
    text-align: center;
    padding: 0.3rem 0;
    font-size: 0.875rem;
    background-color: #282d32;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  @media (min-width: 992px) {
    .footer .social-text {
      display: block;
    }

    .footer .social-networks {
      justify-content: space-between;
    }
  }
</style>

<footer class="footer">
  <section class="social-networks">
    <div class="social-text">
      <span>Get connected with us on social networks:</span>
    </div>
    <div class="social-icons">
      <a
        href="https://www.facebook.com/login/"
        target="_blank"
        rel="noopener noreferrer"
        ><i class="fa fa-facebook"></i
      ></a>
      <a href="https://twitter.com" target="_blank" rel="noopener noreferrer"
        ><i class="fa fa-twitter"></i
      ></a>
      <a href="https://www.google.com" target="_blank" rel="noopener noreferrer"
        ><i class="fa fa-google"></i
      ></a>
      <a
        href="https://www.instagram.com"
        target="_blank"
        rel="noopener noreferrer"
        ><i class="fa fa-instagram"></i
      ></a>
      <a
        href="https://www.linkedin.com"
        target="_blank"
        rel="noopener noreferrer"
        ><i class="fa fa-linkedin"></i
      ></a>
      <a href="https://github.com" target="_blank" rel="noopener noreferrer"
        ><i class="fa fa-github"></i
      ></a>
    </div>
  </section>

  <section class="links">
    <div class="container">
      <div class="row">
        <div class="column">
          <h6 class="title"><i class="fa fa-cart-plus"></i> ShopMart</h6>
          <p>
            shopmart.com is a one stop destination for your family's fashion
            needs. We give you the opportunity to give your wardrobe a makeover
            with the latest collections from our top brands.
          </p>
        </div>

        <div class="column">
          <h6 class="title">Make Money With Us</h6>
          <p><a href="#!" class="text-reset">Sell on ShopMart</a></p>
          <p><a href="#!" class="text-reset">Advertise Your Products</a></p>
          <p><a href="#!" class="text-reset">Become an Affiliate</a></p>
          <p><a href="#!" class="text-reset">Fulfilment by ShopMart</a></p>
        </div>

        <div class="column">
          <h6 class="title">Useful links</h6>
          <p><a href="#!" class="text-reset">FAQ</a></p>
          <p><a href="#!" class="text-reset">Feedback</a></p>
          <p><a href="#!" class="text-reset">About Us</a></p>
          <p><a href="#!" class="text-reset">Contact Us</a></p>
        </div>

        <div class="column">
          <h6 class="title">Contact</h6>
          <p><i class="fa fa-home"></i> Shop Mart</p>
          <p><i class="fa fa-envelope"></i> info@example.com</p>
          <p><i class="fa fa-phone"></i> +91 9876543210</p>
        </div>
      </div>
    </div>
  </section>

  <div class="copyright">
    &copy; 2021 Copyright
    <a href="#" class="text-reset fw-bold"> shopmart.in</a>
  </div>
</footer>
