<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nav Bar</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'css/navbar_v0.css' %}" type="text/css" />
  </head>
  <body>
    <div class="menu__bar">
      <!-- <h1 class="logo">Shop<span>Mart</span></h1> -->
      <a href="{% url 'home' %}" class="logo"
        ><i class="fa fa-cart-plus"></i> Shop<span>Mart</span></a
      >

      <ul>
        <li>
          <a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a>
        </li>
        {% if request.user.is_authenticated %}
        <li>
          <a href="#"><i class="fa fa-user"></i> {{request.user}}</a>
        </li>
        <li>
          <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a>
        </li>
        {% else %}        
        <li>
          <a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Login</a>
        </li>
        <li>
          <a href="{% url 'register' %}"
            ><i class="fa fa-users"></i> Register</a
          >
        </li>
        {% endif %}
        <li>
          <a href="{% url 'collections' %}"
            ><i class="fa fa-cubes"></i> Collections</a
          >
        </li>
        <li>
          <a href="{% url 'cart' %}"><i class="fa fa-shopping-cart"></i> Cart</a>
        </li>
        <li>
          <a href="{% url 'favviewpage' %}"><i class="fa fa-heart"></i> Favourite</a>
        </li>
      </ul>
    </div>
    <section class="hero">&nbsp;</section>
  </body>
</html>
